*.terabox*
*.csv
*.cfg
__pycache__
# Archivos de entorno virtual de Python
venv/
env/
*.env

# Archivos de configuración de IDEs y editores
.vscode/
.idea/

# Archivos de caché
*.pyc
*.pyo
*.pyd
*.db
*.log
*.bak
*.swp
*.swo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Archivos específicos de macOS
.DS_Store

# Archivos de configuración de Windows
Thumbs.db

# Archivos generados por pytest
.pytest_cache/

# Archivos de distribución de Python
*.egg
*.egg-info/
dist/
build/
*.manifest

# Si usas la librería pyLDAvis
pyLDAvis/
